.full {
	height: 100%;
}

.logo {
	min-width: 150px;
	max-width: 150px;
	max-height: 150px;
}

.logo-img {
	width: 120px;
	height: 80px;
}

.header {
	height: 10%;
}

.footer {
	height: 5%;
	text-align: center;
}

.general {
	height: 85%;
}

.colored {
	background: #C2C1C1;
	border-color: white;
	border-width: 6px;
	border-style: inset;
}

.hidden {
	visibility: hidden;
}

.static-min-width {
	min-width: 400px;
}

.horizontal-center-anchor {
	text-align: center;
}

.half-width {
	width: 50%;
}

.full-width {
	width: 100%;
}

.spaser {
	height: 10px;
}

.bordered {
	border-width: 1px;
	border-color: black;
	border-style: inset;
}

.static-dropdown-width {
	width: 200px;
	min-width: 200px;
	max-width:200px;
}

.scrollable {
	max-height: 400px;
	overflow-y: auto;
}

.align-right {
	text-align: right;
}

#optionsSpace {
	min-width: 800px;
	max-width: 800px;
}